@inject IJSRuntime _jsRuntime;

<div class="card shadow col-9 m-3 p-2 justify-content-lg-around d-flex flex-row align-content-center" style="width: 80%;  ">

    <div class="card w-50%">
        @if (product.ProductImages != null && product.ProductImages.Count > 0)
        {
            <img src="@product.ProductImages[0].Image" alt="Product Image" class="card-img " />
        }
    </div>
    <div class="card-body w-50" >
        <h5 class="card-title">@product.ProductName</h5>
        <div class="d-flex justify-content-between  flex-column">
            <span>
                @product.ProductDescription
            </span>
            <span>
                Ksh @product.Price
            </span>
            <div>
                <button class="btn btn-danger m-1 w-100 justify-content-around">Remove from Cart</button>
            </div>
        </div>
    </div>

</div>

@code {

    [Parameter]

    public ProductDto product { get; set; } = default!;

    private async Task AddToCart()
    {
        await _jsRuntime.InvokeVoidAsync("localStorage.setItem", "productId", product.Id);
        await _jsRuntime.InvokeVoidAsync("ShowMessage", "success", "Product added to Cart");
    }
}
