<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EzzyShopping</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Search Product
            </NavLink>
        </div>
        <div class="nav-item px-3">
         
            <h6 style="color:white;">Electronics</h6> 
            
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/search/TV">
                <span class="oi oi-laptop" aria-hidden="true"></span> TVS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/search/Phone">
                <span class="oi oi-tablet" aria-hidden="true"></span> Phones
            </NavLink>
        </div>
        <div class="nav-item px-3">

            <h6 style="color:white;">Clothes</h6>

        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/search/shirt">
                <span class="oi oi-chevron-left" aria-hidden="true"></span> Shirts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/search/trouser">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Trousers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addprod">
                <span class="oi oi-plus" aria-hidden="true"></span> Manage Products
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
