@page "/"
@inject IJSRuntime jsRuntime
@inject HttpClient httpClient


@if (prods != null)
{
    <div class="row">
        @foreach (var product in prods)
        {

            <SingleProducts product="product"></SingleProducts>
        }
    </div>
}
@code {
    public List<ProductDto> prods = new List<ProductDto>();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            var apiEndpoint = "https://localhost:7232/api/Product";
            var response = await httpClient.GetFromJsonAsync<ProductResponseDto>(apiEndpoint);

            if (response != null && response.IsSuccess)
            {
                prods = response.Result;
            }
        }
        catch (Exception ex)
        {

            await jsRuntime.InvokeVoidAsync("ShowMessage", "edit", ex.Message);
        }
    }
}
